# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Intermediate Files
*.i
*.ii
*.s

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Atom config files
.remote-sync.json
